.container {
	padding: 80px 120px;
}

.person {
	border: 10px solid transparent;
	margin-bottom: 25px;
	opacity: 0.7;
}

.person:hover {
	border-color: #f1f1f1;
}

.carousel-inner img {
	-webkit-filter: grayscale(90%);
	filter: grayscale(90%);
	width: 100%;
	margin: auto;
}

.carousel-caption h3 {
	color: #fff !important;
}

@media (max-width: 600px) {
	.carousel-caption {
		display: none;
	}
}

.bg-1 {
	background: #2d2d30;
	color: #bdbdbd;
}

.bg-1 h3 {color: #fff;}
.bg-1 p {font-style: italic;}